extends layout

block content
  h1 Menu
  ul
    li
      a(class='bigbutton',href='/item/delete/..') Delete Item
    li
      a(class='bigbutton',href='/item/export') Export Items
    li
      a(class='bigbutton',href='/item/import') Import Items
    li
      a(class='bigbutton',href='/item/list') List Items
    li
      a(class='bigbutton',href='/item/new') New Item
    li
      a(class='bigbutton',href='/overview') Overview
    li
      a(class='bigbutton',href='/order/delete/...') Delete Order
    li
      a(class='bigbutton',href='/order/export') Export Orders
    li
      a(class='bigbutton',href='/order/list') List Orders
    li
      a(class='bigbutton',href='/order/new') New Order

block footer
